<template>
	<div class="container">
			<div v-for="(item, index) in items" :key="index" class="item">
				<div class="topic_img">
					<a :href="item.url" target="_blank">
						<img :src="item.cover_image" :alt="item.title">
					</a>
				</div>	
						
				<div class="bar">
					<span>{{ item.topic }}</span>
					<span class="viewer">{{ item.renqi }}</span>	
				</div>

				<div class="desc">
					<div class="desc-title">{{ item.title }}</div>
					<div class="desc-anchor">{{ item.anchor }}</div>
				</div>
			</div>
	</div>
</template>
<script>
export default {
  name: 'container',
  computed: {
    items () {
      return this.$store.state.data
    }
  }
}
</script>

<style>
.container {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.container .item {
	width: 49.5%;
  margin-bottom: 10px;
}

.container .item img {
	width: 100%;
	height: 360px;
}

.bar {
	color: #b0b0b0;
	padding: 0 10px;  
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.desc {
	color: #b0b0b0;
}
</style>

