<template>
	<header>
		<div class="logo">
	    <span style="color: #f00;">直</span>
	    <span style="color: #73ff00;">播</span>
	    <span style="color: #00d5ff;">大</span>
	    <span style="color: #7400ff;">全</span>
  	</div>
	  <div class="search-box">
	    <input type="search" name="" placeholder="搜索主播" @change="search">
	  </div>
	</header>
</template>
<script>
export default {
  name: 'search',
  methods: {
    search () {
      this.$store.dispatch('getMsg')
    }
  }
}
</script>

