body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
  background: rgb(22, 24, 35);
}
header{
  display: flex;
  padding: 15px 10px 0 15px;
}
header .logo{
  font-size: 18px;
  line-height: 2em;
  color: #fff;
  margin-right: 30px;
  font-weight: bold;
}
.search-box{
  flex: 1;
  border: 1px solid #efefef;
  border-radius: 3px;
}
.search-box input{
  border: none;
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 36px;
  background: none;
  box-sizing: border-box;
  padding: 0 10px;
  color: #b0b0b0;
  -webkit-appearance: none;
}
.topic-list{
  padding: 15px;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
}
.topic-item{
  color: #efefef;
  text-decoration: none;
  font-size: 14px;
  line-height: 2em;
  padding: 0px 8px;
  display: inline-block;
  border-radius: 3px;
}
.topic-item.active{
  background: #efefef;
  color : #161823;
}
