<template>
  <div id="app">
    <search></search>
    <topicList></topicList>
    <router-view></router-view>
  </div>
</template>

<script>
import search from './components/Head/search'
import topicList from './components/Nav/topicList'

export default {
  name: 'app',
  components: {
    search,
    topicList
  }
}
</script>
<style>

</style>
