<template>
	<nav class="topic-list">
		<router-link to="/all" class="topic-item">全部</router-link>
		<router-link to="/wzry" class="topic-item">王者荣耀</router-link>
		<router-link to="/lol" class="topic-item">英雄联盟</router-link>
		<router-link to="/ylxc" class="topic-item">娱乐秀场</router-link>
		<router-link to="/yz" class="topic-item">颜值</router-link>
		<router-link to="/sport" class="topic-item">体育</router-link>
		<router-link to="/out" class="topic-item">户外</router-link>
		<router-link to="/music" class="topic-item">音乐</router-link>
		<router-link to="/kj" class="topic-item">科技</router-link>
		<router-link to="/ecy" class="topic-item">二次元</router-link>
		<router-link to="/ys" class="topic-item">影视</router-link>
		<router-link to="/cyhx" class="topic-item">穿越火线</router-link>
		<router-link to="/dnf" class="topic-item">地下城与勇士</router-link>
		<router-link to="/qqdzz" class="topic-item">球球大作战</router-link>
		<router-link to="/djyx" class="topic-item">单机游戏</router-link>
		<router-link to="/yys" class="topic-item">阴阳师</router-link>
		<router-link to="/wdsj" class="topic-item">我的世界</router-link>
		<router-link to="/swxf" class="topic-item">守望先锋</router-link>
		<router-link to="/qqfc" class="topic-item">QQ飞车</router-link>
		<router-link to="/ttkp" class="topic-item">天天酷跑</router-link>
		<router-link to="/lscs" class="topic-item">炉石传说</router-link>
		<router-link to="/sy" class="topic-item">手游</router-link>
		<router-link to="/cfqzwz" class="topic-item">CF枪战王者</router-link>
		<router-link to="/wow" class="topic-item">魔兽世界</router-link>
		<router-link to="/blct" class="topic-item">部落冲突</router-link>
		<router-link to="/dota" class="topic-item">DOTA</router-link>
		<router-link to="/mszb" class="topic-item">魔兽争霸3</router-link>
		<router-link to="/lqyx" class="topic-item">篮球游戏</router-link>
		<router-link to="/smzhol" class="topic-item">使命召唤OL</router-link>
		<router-link to="/xjzb" class="topic-item">星际争霸</router-link>
		<router-link to="/qp" class="topic-item">棋牌</router-link>
		<router-link to="/rxcq" class="topic-item">热血传奇</router-link>
	</nav>
</template>
<script>
export default {
  name: 'topicList'
}
</script>
<style>
	.router-link-active {
		background: #efefef;
    color: #161823;
	}
</style>
